NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=rootpassword
DB_NAME=insulinia_db
JWT_SECRET=pon_aqui_un_secreto_largo
IA_API_URL=http://localhost:8000
IA_PREDICT_PATH=/predict/ensemble
IA_TIMEOUT_MS=10000
